<div class="form-container">
	<p class="title">FLAKE</p>
	<form class="form">
		<div class="input-group">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" placeholder="" [(ngModel)]="username">
            
		</div>
		<div class="input-group">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" placeholder="" [(ngModel)]="password">
               
		</div>
		<button class="log" (click)="login()">log In </button>
	</form>