<div class="form-container">
  <div class="logo-section">
    <img src="/logo.png" height="100" alt="" />
   
  </div>
  <form class="form">
    <div class="input-group">
      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder=""
        [(ngModel)]="username"
      />
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder=""
        [(ngModel)]="password"
      />
    </div>
    <button class="log" (click)="login()">log In</button>
  </form>
</div>
