<main class="layout">
  <section class="topbar">
    <img src="/logo.png" class="logo" alt="" />
    <h1 class="topbar-title">Año Lectivo {{ dateToday.getFullYear() }}</h1>
    <div class="button-container">
      <button class="logout" (click)="logout()">Logout 
        <i class="pi pi-sign-out"></i>
      </button>
    </div>
  </section>

  <aside class="sidebar">
    <div class="side">
      <ng-container *ngFor="let ruta of rutasAside; let i = index">
        <a [routerLink]="ruta.path" class="sidebar-btn">
          <i [class]="ruta.icon"></i> 
          <span>{{ ruta.nombre }}</span>
        </a>
          
      </ng-container>
    </div>
  </aside>

  <section class="body">
    <div *ngIf="showWelcomeMessage" class="welcome-message">
      <h2>¡Bienvenido!</h2>
      <p>FOREIGN LANGUAGE FOR KIDS EMPOWERMENT</p>
      <div class="background-image"></div>
    </div>
    <router-outlet (activate)="onActivate()"></router-outlet>
  </section>
</main>
