<div class="container">
  <h3>Asistencia de Estudiantes</h3>

  <div class="card flex justify-content-center">
    <p-calendar
      class="max-w-full"
      [ngModel]="fechaHoraSignal()"
      [inline]="true"
      [showIcon]="true"
      [showTime]="true"
      (onSelect)="setHorario($event)"
    />
  </div>
  <div class="input-tutor">
    <label for="tutor_id">ID del Tutor:</label>
    <input
      type="number"
      id="tutor_id"
      [(ngModel)]="asistencias.tutor_id"
      required
    />
  </div>
  <div class="switch-container">
    <label for="mostrarNotasEstudiantes">Notas Estudiantes</label>
    <p-inputSwitch (onChange)="mostrarNotasEstudiantes()" />
  </div>
  @if (mostrarNotas) {
  <p-table
    [value]="notasLista"
    dataKey="id"
    editMode="row"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 20%">Estudiantes</th>
        <th style="width: 20%">Nota 1</th>
        <th style="width: 20%">Nota 2</th>
        <th style="width: 20%">Nota 3</th>
        <th style="width: 20%">Nota 4</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-students
      let-editing="editing"
      let-ri="rowIndex"
    >
      <tr [pEditableRow]="students">
        <td>
          {{ students.estudiante.persona.primer_nombre }}
          {{ students.estudiante.persona.segundo_nombre }}
          {{ students.estudiante.persona.primer_apellido }}
          {{ students.estudiante.persona.segundo_apellido }}
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="number"
                [(ngModel)]="students.bloque1"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ students.bloque1 }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="number"
                [(ngModel)]="students.bloque2"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ students.bloque2 }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="number"
                [(ngModel)]="students.bloque3"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ students.bloque3 }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="number"
                [(ngModel)]="students.bloque4"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ students.bloque4 }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(students)"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(students)"
              class="p-button-rounded p-button-text p-button-success mr-2"
            ></button>
          </div>
        </td></tr
    ></ng-template>

    <thead>
      <tr>
        <th>Nombres</th>
        <th>Notas</th>
      </tr>
    </thead>
    <tbody>
      @for (estudiante of students; track estudiante.idestudiante) {
      <tr>
        <td>
          {{ estudiante.persona.primer_nombre }}
          {{ estudiante.persona.segundo_nombre }}
          {{ estudiante.persona.primer_apellido }}
          {{ estudiante.persona.segundo_apellido }}
        </td>
      </tr>
      }
    </tbody>
  </p-table>
  }@else {
  <table>
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Asistencia</th>
      </tr>
    </thead>
    <tbody>
      @for (estudiante of students; track estudiante.idestudiante) {
      <tr>
        <td>
          {{ estudiante.persona.primer_nombre }}
          {{ estudiante.persona.segundo_nombre }}
          {{ estudiante.persona.primer_apellido }}
          {{ estudiante.persona.segundo_apellido }}
        </td>
        <td>
          <select
            id="asistencia"
            name="asistencia"
            (change)="actualizarAsistencia(estudiante.idestudiante, $event)"
            required
          >
            <option value="" disabled selected>Seleccionar</option>
            <option value="A">Ausente</option>
            <option value="P">Presente</option>
          </select>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
  <button (click)="tomarAsistencia()">Tomar Asistencia</button>
</div>
