.new {
  background-color: rgb(146, 146, 201);
  justify-content: right;
  width: 4rem;
  height: 2rem;
  border-radius: 25px;
  position: absolute;
  top: 2rem;
  right: 4rem;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.v-d {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 20px;
}
.new:hover {
  background-color: rgb(126, 126, 181);
}

/* Estilos generales para el formulario */
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-group input:focus,
.input-group select:focus {
  border-color: #45a049;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.submit-btn {
  background-color: rgb(126, 126, 181);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #45a049;
}

.h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
